
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap');



*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
font-family: 'Play', sans-serif;
margin:2rem;
background: url('../../assets/camper.jpg');
background-attachment: fixed;

}



.wrapper{
    margin: 60px;
    padding: 10px;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(10rem, 21rem));
    gap:3rem;
    justify-content: center;
    font-family: 'Play', sans-serif;
    
}

.card{
    overflow: hidden;
    box-shadow: 0 2px 5px;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    transition:transform 200ms ease-in;
    font-family: 'Play', sans-serif;
    background-color: white;
    border-radius: 20px;

    

}

.card__image {
    height: 12rem;
    width: 100%;
    object-fit:cover;
    border-radius: 20px;

}

.card__title{
    padding:1rem;
}

.card__description{
 padding: 0 1rem;
}

.card__btn{
    padding:10px 10px 10px 10px;
    font-family:'Play', sans-serif;
    font-weight: bold;
    font-size:small;
    margin: 8px 14px 12px 154px;
    border:2px;
    cursor: pointer;
    
}

.card__btn:hover{
    color: white;
}

.card:hover {
    transform: scale(1.02);
}

.find {
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items:center;
  margin:78px 32px 32px 167px;
  gap: 52px;

}

.find__title {
    font-size: 50px;
    font-family: 'Play', sans-serif;
    margin:17px 11px 25px -63px;
  
}

.find_desc {

    font-size: 20px;
    font-family: 'Play', sans-serif;
    margin: 61px 10px 43px 7px;

}

#select__one {
    width: 300px;
    height: 50px;
    background-color: white;
    border-radius: 10px;

    
       
}

#select__two {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    
}

label {
    display:flex;
    justify-content: center;
    font: 1rem 'Fira Sans', sans-serif;
    width: 200px;
    height: 50px;
    
}

input,
label {
    
    width: 200px;
    height: 50px;
    
}

.card__body {
    margin: 10px 10px 10px 10px;
}