
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap');


.li {
    display: flex;
    justify-content: space-around;
    font-family: 'Play', sans-serif;

}

.StyledLinkContainer:visited {
    color: #fff;
    text-decoration: none;
    font-family: 'Play', sans-serif;
}

a:hover {
   text-decoration: none;
  }

  
.col {
    text-align: center;
    font-family: 'Play', sans-serif;
}


.userlog {
    
}